<!--<div class="row justify-content-center mt-5">
  <div class="col-md-4">
      <form [formGroup]="Sensorform" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>temperature</label>
          <input class="form-control" type="text" formControlName="temperature" required>
        </div>

        <div class="form-group">
          <label>humidity</label>
          <input class="form-control" type="text" formControlName="humidity" required>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Add Data</button>
        </div>
      </form>
  </div>
</div>-->
<div class="row justify-content-center mt-5">
  <div class="col-md-4">
      <form [formGroup]="signupform" (ngSubmit)="onSubmit()">
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" formControlName="username" required placeholder="type your username">
        </div>


        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="email" formControlName="email" required placeholder="type your Email"> 
        </div>
       
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" formControlName="password" required placeholder="type your password">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">SignUp</button>
        </div>
      </form>
  </div>
</div>