<!-- login.component.html -->
<!--<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit"><a routerLink="adds" >Submit</a></button>
    </form>
  </div>-->
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <form [formGroup]="Loginform" (ngSubmit)="onSubmit()">
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" formControlName="username" required placeholder="type your username">
          </div>
  
          <div class="form-group">
            <label>password</label>
            <input class="form-control" type="password" formControlName="password" required placeholder="type your password">
          </div>
  
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Login</button>
          </div>
        </form>
        <form [formGroup]="Loginform" (ngSubmit)="onsign()">
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">SignUp</button>
          </div>
        </form>
    </div>
  </div>
  