<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Login</a>
    <div class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a routerLink="adds" class="nav-link">Sensor</a>
      </li>
      <li class="nav-item">
        <a routerLink="map" class="nav-link">Map</a>
      </li>
      <li class="nav-item">
        <a routerLink="signup" class="nav-link">signup</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
<!--<p>map works!</p>
<h1>How to Integrate Google Maps in Angular 16 - ItSolutionStuff.com</h1>
  
<google-map height="500px"
            width="900px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
</google-map>
  
<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>-->